html {
   box-sizing: border-box;
   height: 100%;
}

*, *:before, *:after {
   box-sizing: inherit;
}

body {
   margin: 0;
   color: $base-text-color;
   background: $base-background-color;
   font: #{$base-font-size}/#{$base-line-height} $base-font-family;
   min-width: $base-min-width;
   -webkit-text-size-adjust: 100%;
   -ms-text-size-adjust: none;
   -webkit-font-smoothing: antialiased;
   height: 100%;
}

* {
   max-height: 1000000px;
}

article, aside, details, figcaption, figure, footer, header, main, nav, section, summary {
   display: block;
}

img {
   border-style: none;
   max-width: 100%;
   height: auto;
   vertical-align: top;
}

a {
   text-decoration: none;
   color: $base-link-color;

   &:hover {
      text-decoration: underline;
   }
}

input,
textarea,
select {
   font: 100% $base-font-family;
   color: $base-form-text-color;
   vertical-align: middle;
}

form,
fieldset {
   margin: 0;
   padding: 0;
   border-style: none;
}

button::-moz-focus-inner,
input::-moz-focus-inner {
   border: 0;
   padding: 0;
}

button,
input[type="button"],
input[type="reset"],
input[type="file"],
input[type="submit"] {
   -webkit-appearance: none;
   -webkit-border-radius: 0;
   cursor: pointer;
}

input[type="text"],
input[type="tel"],
input[type="email"],
input[type="url"],
input[type="password"],
input[type="search"],
textarea {
   margin: 0;
   padding: 4px 7px;
   -webkit-appearance: none;
   -webkit-border-radius: 0;
   border: 1px solid $base-input-border-color;

   &:focus {
      border-color: darken($base-input-border-color, 30%);

      //outline: none;
  
   }
}

textarea {
   overflow: auto;
   resize: vertical;
   vertical-align: top;
}

input[type="checkbox"],
input[type="radio"] {
   padding: 0;
}

input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-decoration {
   -webkit-appearance: none;
}

h1, h2, h3, h4, h5, h6 {
   font-family: $base-font-family;
   line-height: 1.2em;
   margin: 0 0 1.2em;
}

p {
   margin: 0 0 1.2em;
}

q {
   quotes: none;

   &:before, &:after {
      content: '';
      content: none;
   }
}

sub,
sup {
   font-size: 75%;
   line-height: 0;
   position: relative;
   vertical-align: baseline;
}

sup {
   top: -0.5em;
}

sub {
   bottom: -0.25em;
}

table {
   border-collapse: collapse;
   border-spacing: 0;
}

// google map fix
.gm-style img {
   max-width: none;
}

// hide tel links on desktop
@media only screen and (min-width: 1025px) {
   a[href^=tel], a[href^=skype], a[href^=sms] {
      cursor: default;
      pointer-events: none;
   }
}