.side-bar input[type="submit"],
a.button {
   font-size: 12px;
   font-weight: 600;
   display: inline-block;
   vertical-align: top;
   background: #10b8f9;
   color: #fff;
   padding: 8px;
   border-radius: 3px;
   border: solid 2px #10b8f9;
   text-transform: uppercase;
   margin-bottom: 20px;
   width: 46%;
   text-align: center;
   cursor: pointer;
   text-decoration: none;
   outline: none;

   &.logout {
      width: 100px;
      background: #b7b7b7;
      border: none;
      margin-bottom: 0;

      &:hover {
         background: #10b8f9;
         color: #fff;
      }

      .disabled & {
         background: #d0cccc;
      }
   }

   &:hover {
      background: #fff;
      color: #10b8f9;
   }

   &.flt-right {
      float: right;
   }
}

.side-bar input[type="submit"] {
   padding: 9.5px 8px;
}