#map-canvas {
   margin: 0;
   height: calc(100vh - 100px);
   width: 100%;
}

.richmarker-wrapper {
   .uber-car {
      width: 26px;
      height: 26px;
      background: url("/static/images/icon-car-b.png") center no-repeat;
      background-size: 100%;
      margin: 0;
      display: block;
      cursor: pointer;
      border-radius: 50%;
      box-shadow: 0 0 0 rgba(12, 188, 247, 0.4);
      animation: pulseCar 2s infinite;

      &:hover {
         animation: none;
      }
   }

   .pulse {
      margin: 0 100px 100px 100px;
      display: block;
      width: 18px;
      height: 18px;
      border-radius: 50%;
      background: #4285f4;
      cursor: pointer;
      box-shadow: 0 0 0 rgba(12, 188, 247, 0.4);
      animation: pulse 2s infinite;
      border: solid 4px #fff;
      z-index: 99;
   }

   .pulse:hover {
      animation: none;
   }

   @-webkit-keyframes pulse {
      0% {
         -webkit-box-shadow: 0 0 0 0 rgba(12, 188, 247, 0.4);
      }

      70% {
         -webkit-box-shadow: 0 0 0 120px rgba(12, 188, 247, 0);
      }

      100% {
         -webkit-box-shadow: 0 0 0 0 rgba(12, 188, 247, 0);
      }
   }

   @keyframes pulse {
      0% {
         -moz-box-shadow: 0 0 0 0 rgba(12, 188, 247, 0.4);
         box-shadow: 0 0 0 0 rgba(12, 188, 247, 0.4);
      }

      70% {
         -moz-box-shadow: 0 0 0 120px rgba(12, 188, 247, 0);
         box-shadow: 0 0 0 120px rgba(12, 188, 247, 0);
      }

      100% {
         -moz-box-shadow: 0 0 0 0 rgba(12, 188, 247, 0);
         box-shadow: 0 0 0 0 rgba(12, 188, 247, 0);
      }
   }

   @-webkit-keyframes pulseCar {
      0% {
         -webkit-box-shadow: 0 0 0 0 rgba(12, 188, 247, 0.4);
      }

      70% {
         -webkit-box-shadow: 0 0 0 30px rgba(12, 188, 247, 0);
      }

      100% {
         -webkit-box-shadow: 0 0 0 0 rgba(12, 188, 247, 0);
      }
   }

   @keyframes pulseCar {
      0% {
         -moz-box-shadow: 0 0 0 0 rgba(12, 188, 247, 0.4);
         box-shadow: 0 0 0 0 rgba(12, 188, 247, 0.4);
      }

      70% {
         -moz-box-shadow: 0 0 0 30px rgba(12, 188, 247, 0);
         box-shadow: 0 0 0 30px rgba(12, 188, 247, 0);
      }

      100% {
         -moz-box-shadow: 0 0 0 0 rgba(12, 188, 247, 0);
         box-shadow: 0 0 0 0 rgba(12, 188, 247, 0);
      }
   }
}