.side-bar {
   position: fixed;
   top: 0;
   left: -380px;
   background: #fff;
   width: 380px;
   height: calc(100vh - 60px);
   padding: 30px;
   -webkit-transition: all 0.5s ease-in-out;
   transition: all 0.5s ease-in-out;
   box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.3);
   z-index: 9;
   opacity: 0;

   .side-bar-active & {
      left: 0;
      opacity: 1;
   }

   .divider {
      height: 1px;
      width: 100%;
      background: #ccc;
      margin: 20px 0;
   }

   h1 {
      font-size: 26px;
      font-weight: 600;
      color: #2781a1;
      line-height: 1.2;
      text-transform: capitalize;
      margin-bottom: 10px;
   }

   h2 {
      font-size: 28px;
      line-height: 1;

      &.driver-info {
         margin-bottom: 14px;
      }
   }

   p {
      font-size: 16px;
      margin-bottom: 6px;
      font-weight: 600;

      span {
         font-weight: 400;
         color: #444;
         float: right;
      }

      &.time,
      &.cost {
         font-size: 40px;
         font-weight: 100;
      }
   }

   a.button {
      &.cancel-ride {
         float: right;
      }
   }
}