.tooltip {
   position: absolute;
   top: 54px;
   left: 0;
   text-align: center;
   border: solid 1px #ccc;
   padding: 6px 8px;
   font-size: 10px;
   border-radius: 4px;
   background: #fff;
   -webkit-transition: all 0.2s ease-in-out;
   transition: all 0.2s ease-in-out;
   z-index: -1;
   opacity: 0;

   p {
      font-weight: 400;
      font-size: 12px;
      line-height: 1.2;
      margin-bottom: 0;
   }
}

.log-out-box {
   position: absolute;
   right: 20px;
   top: 20px;
   z-index: 4;

   &.disabled {
      &:hover {
         .tooltip {
            z-index: 2;
            top: 40px;
            opacity: 1;
         }
      }
   }
}