.top-bar {
   min-height: 80px;
   width: 100%;
   position: fixed;
   z-index: 999999;
   background: rgba(225, 225, 225, 0.4);
}

.rider-footer {
   /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#30c2d1+0,19225b+100 */
   background: #30c2d1; /* Old browsers */
   background: -moz-linear-gradient(-45deg, #30c2d1 0%, #19225b 100%); /* FF3.6-15 */
   background: -webkit-linear-gradient(-45deg, #30c2d1 0%, #19225b 100%); /* Chrome10-25,Safari5.1-6 */
   background: linear-gradient(135deg, #30c2d1 0%, #19225b 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
   filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#30c2d1', endColorstr='#19225b',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */
   height: 60px;
   border-top: solid 6px #2ca4bb;
   z-index: 999;
   position: relative;
   box-sizing: border-box;

   img.logo {
      opacity: .07;
      float: right;
      margin: 8px 20px 0 20px;
   }
}