{% include 'header.html' %}
<!--<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDhoFXFuPUf6BZtqoTUsssx9on-PQYxo4w"></script>-->
<body class="rider">
  <div class="circle-main wow fadeOutDone" data-wow-delay="15s">
    <div class="circle-inner">
      <div class="circle-middle">
      </div>
    </div>
  </div>
  <div id="wrapper" class="rider">
    <div class="map-bg"></div>
    <div class="log-out-box">
      <a href="/logout" id="logout-btn" class="button logout">Log Out</a>
      <div class="tooltip">
        <p id="rider-logout-tooltip">You cannot log out while searching for a ride!</p>
      </div>
    </div>
    {% include 'sidebar.html' %}
    <div class="map-wrapper wow zoomOutIn" data-wow-delay="3.4s" data-wow-duration="3.s">
      <div id="map-canvas"></div>
    </div>
    <div class="clear"></div>
    <div class="rider-footer">
      <img class="logo" src="/static/images/uberjr-logo-white.png" alt="uber jr logo">
    </div>
    <div class="overlay destination wow fadeInDown" data-wow-delay="3.4s" data-wow-duration="3.s">
      <form id="riderRequest" action="/api/rider" method="POST">
        <h2 id="name">Welcome!</h2>
        <p>Enter your origin and destination.</p>
        <input type="text" id="originRider" name="origin" placeholder="Origin Address" required>
        <input type="text" id="destinationRider" name="destination" placeholder="Destination Address" required>
        <input type="submit" value="Request Ride" class="loc-sbmt-demo" onclick="">
      </form>
    </div>
  </div>
  <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCz84vlHfB46ugqIammigfZxHNn1DucCfQ"></script>
  <script type="text/javascript" src="/static/js/jquery-1.11.2.min.js"></script>
  <script type="text/javascript" src="/static/js/plugins.js"></script>
  <script type="text/javascript" src="/static/js/scripts.js"></script>
  <script type="text/javascript" src="/static/js/rider.js"></script>
  </body>
</html>
