<div class="side-bar driver mCustomScrollbar wow fadeInLeft" data-wow-duration="1s" data-wow-delay="4s">

    <form id="driverReady" action="/api/drive" method="POST">
	    <p>Ready to drive?</p>
	    <input type="hidden" id="driveReadyField" name="ready" value="true">
	    <input type="submit" value="Start Driving" class="loc-sbmt-demo" onclick="">
	</form>
    <form id="driverInactive" action="/api/inactive" style="display:none;" method="POST">
		<input type="submit" value="Inactive" id="inactive" class="button inactive" onclick="">
	</form>

    <div class="sidebar-header">
     <h4>Driver Status</h4>
     <div class="switch-wrapper">
	     <label class="switch">
		    <input type="checkbox" id="switch-toggle" class="switch-input">
		    <span class="switch-label" data-on="Active" data-off="Inactive"></span>
		    <span class="switch-handle"></span>
		 </label>
	 </div>
    <div class="divider"></div>
    </div>

    <div class="driver-welcome wow fadeOut" data-wow-duration="1s" data-wow-delay="8s">
    	<h4>Welcome!</h4>
    	<p>Please update your status</p>
    </div>

    <!-- driver waitting for request -->
	<div id="waitting-state" class="sidebar-state">
		<div class="loader">
		  <span class="inner1"></span>
		  <span class="inner2"></span>
		  <span class="inner3"></span>
		</div>
		<p class="lght">Waiting for ride request..</p>
	</div>

    <div id="ride-request" class="sidebar-state">
		<h1>New Ride Request!</h1>
		<div class="divider"></div>
		<h2 class="rider-info">Rider Information</h4>
		<p>Name: <span class="rider-name">John Doe</span></p>
		<p>Location: <span class="rider-location"></span></p>
		<div class="divider"></div>
		<p>Estimated Pickup Time:</p>
		<p class="time">5:15pm</p>
		<div class="divider"></div>
		<form id="acceptDeclineRide" action="/api/acceptDeclineRide" method="POST">
			<input type="submit" value="accept" id="acceptRide" class="button" onclick="">
			<input type="submit" value="decline" id="declineRide" class="button" onclick="">
		</form>
		<br>
	</div>

    <!-- directions to pickup rider-->
	<div id="directions-to-rider" class="sidebar-state">

		<div class="divider"></div>
		<form id="pickupReady" action="/api/pickup" method="POST">
			<input type="submit" value="Ready to Pick Up" class="button" onclick="">
		</form>
		<div class="divider"></div>
	</div>

    <!-- directions to rider destination -->
	<div id="directions-to-destination" class="sidebar-state">

		<div class="divider"></div>
		<form id="rideCompleted" action="/api/completeRide" method="POST">
			<input type="submit" value="Ride Completed" class="button" onclick="">
		</form>
	</div>


</div>
