<div id="" class="side-bar mCustomScrollbar">
	<div id="waitting-state" class="sidebar-state active">
		<h2 class="driver-info">Welcome!</h4>
		<div class="divider"></div>
		<div class="loader">
		  <span class="inner1"></span>
		  <span class="inner2"></span>
		  <span class="inner3"></span>
		</div>
		<p class="lght">Searching for available driver..</p>
	</div>

	<div id="driver-found" class="sidebar-state">
		<h1>A driver is on the way!</h1>
		<div class="divider"></div>
		<h2 class="driver-info">Driver Information</h4>
		<p>Name: <span class="driver-name">John Doe</span></p>
		<p>Car Make: <span class="car-model">Yotota Camry</span></p>
		<p>Car Color: <span class="car-model car-color">Silver</span></p>
		<p>Plates: <span class="car-model car-plates">F0TRMP5</span></p>
		<div class="divider"></div>
		<p>Estimated Time of Arrival:</p>
		<p class="time">5:15pm</p>
		<p>Estimated cost:</p>
		<p class="cost">$12.00</p>
		<div class="divider"></div>
		<a href="" class="button">Call Driver</a>
		<a href="" class="button cancel-ride">Cancel Ride</a>
		<br>
	</div>

</div>
