{% include 'header.html' %}
<body>
  <div id="wrapper">
    <div class="map-bg"></div>
    <div class="container">
      <div class="register-wrapper wow fadeInUpMin" data-wow-delay=".2s" data-wow-duration="2.s" id="riderForm">
        <img class="logo" src="/static/images/uberjr-logo.png" alt="uber jr logo">
        <h2>Register</h2>
        <form id="signupRiderForm" action="/api/signup" method="POST">
          <input id="riderNameField" type="text" name="ridername" placeholder="Name" required>
          <input id="riderEmailField" type="email" name="rideremail" placeholder="Email" required>
          <input id="riderPasswordField" type="password" name="riderpassword" placeholder="Password" required>
          <input id="riderConfPasswordField" type="password" name="riderconfpassword" placeholder="Confirm Your Password" required>
          <select data-placeholder="Will you be driving?" class="chzn-select" tabindex="2" id="riderUserType" name="riderUserType" required>
            <option value="">Do you intend to be an UberJR Driver?</option>
            <option value="true">Yes, I want to drive for UberJR.</option>
            <option value="false">No, I don't want to drive for UberJR.</option>
          </select>
          <input onlick="" value="Sign Up" type="submit">
          <p>Have an account? <a href="/login" target="_self">Sign In</a><br>
        </form>
      </div>

      <div class="register-wrapper register-driver wow fadeInUpMin" data-wow-delay=".2s" data-wow-duration="2.s" style="display:none;" id="driverForm">
         <form id="signupDriverForm" action="/api/signup" method="POST">
            <img class="logo" src="/static/images/uberjr-logo.png" alt="uber jr logo">
            <h2>Register</h2>
            <div class="col left">
               <input id="driverNameField" type="text" name="drivername" placeholder="Name" required>
               <input id="driverEmailField" type="email" name="driveremail" placeholder="Email" required>
               <input id="driverPasswordField" type="password" name="driverpassword" placeholder="Password" required>
               <input id="driverConfPasswordField" type="password" name="driverconfpassword" placeholder="Confirm Your Password" required>
               <select data-placeholder="Will you be driving?" class="chzn-select" tabindex="2" id="driverUserType" name="driverUserType" required>
                 <option value="">Do You Intend to Be an UberJR Driver?</option>
                 <option value="true">Yes, I want to drive for UberJR.</option>
                 <option value="false">No, I don't want to drive for UberJR.</option>
               </select>
            </div>
            <div class="col">
               <h3 class="car-info">Car Information</h3>
               <input id="platesField" type="text" name="plates" placeholder="License Plate Number" maxlength="7" required>
               <select data-placeholder="Color" class="chzn-select" tabindex="2" id="color" required>
                 <option value="">Color</option>
                 <option value="White">White</option>
                 <option value="Silver">Silver</option>
                 <option value="Black">Black</option>
                 <option value="Gold">Gold</option>
                 <option value="Grey">Grey</option>
                 <option value="Blue">Blue</option>
                 <option value="Brown">Brown</option>
                 <option value="Yellow">Yellow</option>
                 <option value="Beige">Beige</option>
                 <option value="Red">Red</option>
                 <option value="Purple">Purple</option>
                 <option value="Pink">Pink</option>
               </select>
               <select data-placeholder="&nbsp;Year" class="chzn-select year" tabindex="1" id="year" required>
                  <option value="">Year</option>
                  <option value="2017">2017</option>
                  <option value="2016">2016</option>
                  <option value="2015">2015</option>
                  <option value="2014">2014</option>
                  <option value="2013">2013</option>
                  <option value="2012">2012</option>
                  <option value="2011">2011</option>
                  <option value="2010">2010</option>
                  <option value="2009">2009</option>
                  <option value="2008">2008</option>
                  <option value="2007">2007</option>
                  <option value="2006">2006</option>
                  <option value="2005">2005</option>
                  <option value="2004">2004</option>
                  <option value="2003">2003</option>
                  <option value="2002">2002</option>
                  <option value="2001">2001</option>
                  <option value="2000">2000</option>
                  <option value="1999">1999</option>
                  <option value="1998">1998</option>
                  <option value="1997">1997</option>
                  <option value="1996">1996</option>
                  <option value="1995">1995</option>
                  <option value="1994">1994</option>
                  <option value="1993">1993</option>
                  <option value="1992">1992</option>
                  <option value="1991">1991</option>
                  <option value="1990">1990</option>
               </select>
               <select data-placeholder="Make" class="chzn-select" tabindex="2" id="make" required>
                  <option value="">Make</option>
                  <option value="ACURA">ACURA</option>
                  <option value="ASTON MARTIN">ASTON MARTIN</option>
                  <option value="AUDI">AUDI</option>
                  <option value="BENTLEY">BENTLEY</option>
                  <option value="BMW">BMW</option>
                  <option value="BUICK">BUICK</option>
                  <option value="CADILLAC">CADILLAC</option>
                  <option value="CHEVROLET">CHEVROLET</option>
                  <option value="CHRYSLER">CHRYSLER</option>
                  <option value="DODGE">DODGE</option>
                  <option value="FERRARI">FERRARI</option>
                  <option value="FORD">FORD</option>
                  <option value="GMC">GMC</option>
                  <option value="HONDA">HONDA</option>
                  <option value="HUMMER">HUMMER</option>
                  <option value="HYUNDAI">HYUNDAI</option>
                  <option value="INFINITI">INFINITI</option>
                  <option value="ISUZU">ISUZU</option>
                  <option value="JAGUAR">JAGUAR</option>
                  <option value="JEEP">JEEP</option>
                  <option value="KIA">KIA</option>
                  <option value="LAMBORGHINI">LAMBORGHINI</option>
                  <option value="LAND ROVER">LAND ROVER</option>
                  <option value="LEXUS">LEXUS</option>
                  <option value="LINCOLN">LINCOLN</option>
                  <option value="LOTUS">LOTUS</option>
                  <option value="MASERATI">MASERATI</option>
                  <option value="MAYBACH">MAYBACH</option>
                  <option value="MAZDA">MAZDA</option>
                  <option value="MERCEDES-BENZ">MERCEDES-BENZ</option>
                  <option value="MERCURY">MERCURY</option>
                  <option value="MINI">MINI</option>
                  <option value="MITSUBISHI">MITSUBISHI</option>
                  <option value="NISSAN">NISSAN</option>
                  <option value="PONTIAC">PONTIAC</option>
                  <option value="PORSCHE">PORSCHE</option>
                  <option value="ROLLS-ROYCE">ROLLS-ROYCE</option>
                  <option value="SAAB">SAAB</option>
                  <option value="SATURN">SATURN</option>
                  <option value="SUBARU">SUBARU</option>
                  <option value="SUZUKI">SUZUKI</option>
                  <option value="TOYOTA">TOYOTA</option>
                  <option value="VOLKSWAGEN">VOLKSWAGEN</option>
                  <option value="VOLVO">VOLVO</option>
               </select>
               <label for="checkbox" class="text">
               <input type="checkbox" id="insured" required value="1"/>Currently Insured?
               </label>
            </div>
            <div class="clear"></div>
            <input onlick="" value="Sign Up" type="submit">
            <p>Have an account? <a href="/login" target="_self">Sign In</a></p>
         </form>
      </div>
    </div>
  </div>
  <script type="text/javascript" src="/static/js/jquery-1.11.2.min.js"></script>
  <script type="text/javascript" src="/static/js/jquery-ui.min.js"></script>
  <script type="text/javascript" src="/static/js/plugins.js"></script>
  <script type="text/javascript" src="/static/js/scripts.js"></script>
  <script type="text/javascript" src="/static/js/login-register.js"></script>
</body>
</html>
